<a href="https://colab.research.google.com/github/ShivamVerma14/Data-Mining/blob/main/Practical_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q4. Run Apriori algorithm to find frequent itemsets and association rules.

In [ ]:
!pip install mlxtend

In [ ]:
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
dataset = [
    ['A', 'B', 'C', 'D', 'F', 'H'],
    ['B', 'E', 'F', 'H'],
    ['A', 'C', 'E'],
    ['B', 'C', 'D', 'F', 'H'],
    ['A', 'B', 'C', 'D', 'E'],
    ['C','D','F','H'],
    ['A','C','D','H'],
    ['E','H']
]

In [ ]:
encoder = TransactionEncoder()
transactions = encoder.fit_transform(dataset)

data = pd.DataFrame(transactions, columns=encoder.columns_)
data

       A      B      C      D      E      F      H
0   True   True   True   True  False   True   True
1  False   True  False  False   True   True   True
2   True  False   True  False   True  False  False
3  False   True   True   True  False   True   True
4   True   True   True   True   True  False  False
5  False  False   True   True  False   True   True
6   True  False   True   True  False  False   True
7  False  False  False  False   True  False   True

### 4.1	Use minimum support as 50% and minimum confidence as 75%.

In [ ]:
frequent_itemsets = apriori(data, min_support=0.5, use_colnames=True)
frequent_itemsets

    support   itemsets
0     0.500        (A)
1     0.500        (B)
2     0.750        (C)
3     0.625        (D)
4     0.500        (E)
5     0.500        (F)
6     0.750        (H)
7     0.500     (C, A)
8     0.625     (C, D)
9     0.500     (C, H)
10    0.500     (D, H)
11    0.500     (F, H)
12    0.500  (C, D, H)

In [ ]:
association_rules(frequent_itemsets, metric='confidence', min_threshold=0.75)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(A),(C),0.500,0.750,0.500,1.000000,1.333333,0.12500,inf
1,(C),(D),0.750,0.625,0.625,0.833333,1.333333,0.15625,2.25
2,(D),(C),0.625,0.750,0.625,1.000000,1.333333,0.15625,inf
3,(D),(H),0.625,0.750,0.500,0.800000,1.066667,0.03125,1.25
4,(F),(H),0.500,0.750,0.500,1.000000,1.333333,0.12500,inf
5,"(C, D)",(H),0.625,0.750,0.500,0.800000,1.066667,0.03125,1.25
6,"(C, H)",(D),0.500,0.625,0.500,1.000000,1.600000,0.18750,inf
7,"(D, H)",(C),0.500,0.750,0.500,1.000000,1.333333,0.12500,inf
8,(D),"(C, H)",0.625,0.500,0.500,0.800000,1.600000,0.18750,2.50

### 4.2 Use minimum support as 60% and minimum confidence as 60 %.

In [ ]:
frequent_itemsets = apriori(data, min_support=0.6, use_colnames=True)
frequent_itemsets

   support itemsets
0    0.750      (C)
1    0.625      (D)
2    0.750      (H)
3    0.625   (C, D)

In [ ]:
association_rules(frequent_itemsets, metric='confidence', min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(C),(D),0.750,0.625,0.625,0.833333,1.333333,0.15625,2.25
1,(D),(C),0.625,0.750,0.625,1.000000,1.333333,0.15625,inf

## Apply apriori algorithm and find association rules on Grocery Purchase Dataset.

In [ ]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

**Importing the dataset.**

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
path = '/content/drive/MyDrive/College Work/Data Mining/Grocery Products Purchase.csv'

data = pd.read_csv(path)
data.head()

,Product 1,Product 2,Product 3,Product 4,Product 5,Product 6,Product 7,Product 8,Product 9,Product 10,...,Product 23,Product 24,Product 25,Product 26,Product 27,Product 28,Product 29,Product 30,Product 31,Product 32
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Getting sparse matrix of transactions.**

In [ ]:
transactions = pd.get_dummies(data.unstack().dropna()).groupby(level=1).sum()
transactions.head()

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,beef,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

**Minimum Support = 0.1**

In [ ]:
frequent_itemsets = apriori(transactions, min_support=0.1, use_colnames=True)
frequent_itemsets

    support            itemsets
0  0.110524     (bottled water)
1  0.193493  (other vegetables)
2  0.183935        (rolls/buns)
3  0.108998   (root vegetables)
4  0.174377              (soda)
5  0.104931    (tropical fruit)
6  0.255516        (whole milk)
7  0.139502            (yogurt)